<ion-content [fullscreen]="true" class="grad">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="6" size-lg="5" size-xl="3" offset-xl="1">
                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <img class="login-img" src="/assets/img/Login.png" />
                        </div>
                    </ion-col>
                </ion-row>
                <app-login (loginCredentials)="loginEvent($event)"></app-login>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>