<ion-toolbar class="toolbar">
    <ion-title>Solicitudes</ion-title>
</ion-toolbar>
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-row class="filters-container">

    <div class="filter-button">
        <ion-button (click)="showFilters= !showFilters">
            <ion-icon name="funnel"></ion-icon>
        </ion-button>
    </div>
    <div *ngIf="!showFilters">
        <ion-col>
            <ion-item>
                <ion-label>Provincias</ion-label>
                <ion-select>
                    <ion-select-option *ngFor="provincias"></ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </div>
    <div *ngIf="!showFilters">
        <ion-col>
            <ion-item>
                <ion-label>Ciudades</ion-label>
                <ion-select>
                    <ion-select-option *ngFor="provincias"></ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </div>

</ion-row>